.news_container{
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
}

.news_container_text{
    font-family: 'Poppins-SemiBold';
    color: #999999;
    font-size: 30px;
    margin-top: 50px;
}

.news_container_draggable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.news_container_card{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px 0px #b4b4b4;
    margin-right: 30px;
}

@media(max-width:600px){
    .news_container_card{
        width: 250px;
        height: 300px;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 40px;
        box-shadow: 4px 4px 4px 0px #b4b4b4;
        margin-right: 30px;
    }
}

.news_container_card:first-child{
    margin-left: 2200px;
}

@media(max-width:600px){
    .news_container_card:first-child{
        margin-left: 2000px;
    }
}
